doctype html
html(lang="en")
    include _mixins
    +header("HTML - Web Languages")
        script(src="scripts/htmlToggle.js" defer)
        script(src="scripts/addMDNLinks.js" defer)
    body
        +page
            +links
            h1.text-center HTML
            br
            p.
                HTML (HyperText Markup Language) is a web language used to make web pages.
                HTML elements define the content of a web page.
                The tree of nested elements that make up a web page is called the #[span.emphasis Document Object Model].
            p
                | An important property of elements is their #[span.emphasis display] property. There are several ways an element could display on the page.
                | This is often changed in CSS. Some possible values are:
                ol
                    li #[span.emphasis None] - Does not display at all. Used to hide elements from CSS.
                    li.
                        #[span.emphasis Block] - Will create a new line and expand horizontally as much as possible.
                        Most block display elements cannot be nested, even if changed to inline with CSS.
                        Elements such as span and div are considered #[span.emphasis grouping elements] which can be nested.
                        Setting #[span.consolas display] in CSS does not change this.
                        (The HTML syntax is never altered by CSS.)
                    li #[span.emphasis Inline] - Does not create a new line. Only takes as much space as needed and is part of the normal text flow.
                    li.
                        #[span.emphasis Flex] - Makes the element a block-level flexible box (flexbox)
                        container. A flexbox element will attempt to align
                        and resize its contents across a set axis according to set parameters and proportions. The links at
                        the top of this page are inside a flexbox
                        container that aligns them horizontally with equal space between them.
                        This property is set using CSS.
                    li #[span.emphasis Table, table-cell, table-column, table-row, etc.] make the elements display as if they were in a table.
            p.
                HTML elements, aside from their standard behaviour and CSS properties, have #[span.emphasis semantic] meaning.
                The nav element, for example, is used for the navigation section (links to other pages). Even though
                this element is identical to a div in the browser, it is useful for other programs
                which are attempting to extract data from the web page, such as screen readers and search engines.
            p.
                Most elements could be implemented using divs, spans, CSS and sometimes JavaScript, but
                it is better to use elements with the proper semantic meaning. Sometimes these elements have behaviour
                which cannot be completely replicated with JavaScript, but even when they don't it is important
                for code readability - if you see a "nav" element you immediately know what it is for, unlike
                a div with some CSS styling - and accessibility - screen readers often have to rely on semantic tags
                and the general structure of a web page to extract information from it. It is very hard for a program
                to parse a website which uses nonstandard "faked" elements, such as a div with a click handler
                which changes color when clicked instead of a button. This would not be recognised as an interactive
                element and would not be accessible by keyboard users either. Using HTML attributes such as
                #[span.consolas tabindex="0", role="button"], some of these issues can be resolved,
                however this will not support enter/space key presses, is unnecessarily complicated and therefore error-prone.
            table#html-table.mdn-link-target-container(data-mdn-link-selector="tr td:first-child")
                caption This website uses elements such as:
                tr
                    th Tag(s)
                    th Description
                    th Example
                tr
                    td html
                    td Page root. All other elements are contained in the html element.
                    td.NA-box N/A
                tr
                    td body
                    td Contains visible elements.
                    td.NA-box N/A
                tr
                    td head
                    td.ignore Contains metadata elements.
                    td.NA-box N/A
                tr
                    td title
                    td.ignore Sets the page title.
                    td.code-cell &lt;title&gt;HTML - Web Languages&lt;/title&gt;
                tr
                    td link
                    td.ignore Links resources such as page icons or CSS files to the page.
                    td.code-cell &lt;link rel="stylesheet" href="style.css"&gt;
                tr
                    td meta
                    td.ignore Contains misc. metadata.
                    td.code-cell &lt;meta charset="utf-8"&gt;
                tr
                    td div
                    td.
                        Bundles elements placed inside into a single element. Very common.
                        Has no meaning in pure HTML; Is used with CSS or JavaScript.
                    td.code-cell.
                        &lt;div&gt;
                            &lt;p&gt;Text 1&lt;/p&gt;
                            &lt;p&gt;Text 2&lt;/p&gt;
                        &lt;/div&gt;
                tr
                    td nav
                    td Represents the navigation section of a website.
                    td.code-cell.
                        &lt;nav&gt;
                            &lt;a href="index.html"&gt;Home Page&lt;a&gt;
                        &lt;/nav&gt;
                tr
                    td main
                    td Represents the main section of a website.
                    td.code-cell.
                        &lt;main&gt;Text.....&lt;/main&gt;
                tr
                    td caption
                    td The caption of a table. Is displayed above the table, but the tag is inside it.
                    td.code-cell.
                        &lt;table&gt;
                            &lt;caption&gt;Empty Table&lt;/caption&gt;
                        &lt;/table&gt;
                tr
                    td a
                    td Links to the address specified by the element&apos;s "href" attribute.
                    td.code-cell &lt;a href="index.html"&gt;Home Page&lt;/a&gt;
                tr
                    td h1#[br]h2#[br]h3#[br]h4#[br]h5#[br]h6
                    td The elements h1, h2, ..., h6 define levels of page headings. h1 is the largest and h6 is just bold text.
                    td.code-cell.
                        #{'<h1>Felines</h1>'}
                        #{'<h2>Cats</h2>'}
                        #{'<h3>Persian</h3>'}
                        #{'<h4>Persian Kittens</h4>'}
                        #{'<h3>Siamese</h3>'}
                        #{'<h2>Big Cats</h2>'}
                        #{'<h3>Lions</h3>'}
                        #{'<h1>Canines</h1>'}
                tr
                    td p
                    td Defines a block-level paragraph.
                    td.code-cell &lt;p&gt;Text goes here.&lt;/p&gt;
                tr
                    td strong
                    td.ignore Makes text bold. Signifies importance.
                    td.code-cell This document is about#[br]&lt;strong&gt;HTML&lt;/strong&gt;.
                tr
                    td del
                    td.ignore Used for deleted text.
                    td.code-cell.
                        Last updated in &lt;del&gt;2010&lt;/del&gt; 2020
                tr
                    td table#[br]tr#[br]td#[br]th
                    td.
                        The table element is the root element of an HTML table.
                        Rows are defined using tr ("table row") and th ("table header").
                        Cells are defined by the td ("table data") element.
                    td.code-cell.
                        &lt;table&gt;
                            &lt;th&gt;
                                &lt;td&gt;Cell 1 Header&lt;/td&gt;
                                &lt;td&gt;Cell 2 Header&lt;/td&gt;
                            &lt;/th&gt;
                            &lt;tr&gt;
                                &lt;td&gt;Cell 1 Row 1&lt;/td&gt;
                                &lt;td&gt;Cell 2 Row 1&lt;/td&gt;
                            &lt;/tr&gt;
                        &lt;/table&gt;
                tr
                    td br
                    td.
                        Inserts a page break. Page breaks and multiple spaces directly in HTML do nothing
                        unless using the #[a(href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/pre") preformatted text element]
                        or CSS #[span.consolas white-space] property.
                    td.code-cell Text 1&lt;br&gt;Text 2
                tr
                    td span
                    td Does nothing. Useful for isolating text from paragraphs to style with CSS. Grouping element.
                    td.code-cell.
                        &lt;p&gt;
                            normal text
                            &lt;br&gt;
                            &lt;span class="red"&gt;red text&lt;/span&gt;
                            &lt;br&gt;
                            normal text
                        &lt;/p&gt;
                tr
                    td button
                    td Makes a button.
                    td.code-cell.
                        &lt;button onclick="start();"&gt;
                            Start
                        &lt;/button&gt;
                tr
                    td script
                    td.ignore Used to add JavaScript to a page.
                    td.code-cell.
                        &lt;script&gt;
                            console.log("test");
                        &lt;/script&gt;
                        &lt;script src="script.js"&gt;&lt;/script&gt;
                tr
                    td ul#[br]ol#[br]li
                    td.
                        Used to define lists. li is a block-level list item. ol and ul correspond to ordered (with numbers)
                        and unordered lists.
                    td.code-cell.
                        &lt;ul&gt;
                            &lt;li&gt;List item&lt;/li&gt;
                            &lt;li&gt;Another list item&lt;/li&gt;
                        &lt;/ul&gt;
                        &lt;ol&gt;
                            &lt;li&gt;List item 1&lt;/li&gt;
                            &lt;li&gt;List item 2&lt;/li&gt;
                        &lt;/ol&gt;
                tr
                    td input#[br]form#[br]label
                    td.
                        Defines ways to input information such as checkboxes, text inputs, submit buttons, etc. The form
                        element can send all data from
                        the input elements inside it to a server when submitted without JavaScript.
                    td.code-cell.
                        &lt;form action="purchase_processing.php"&gt;
                            &lt;label&gt;
                                &lt;input type="checkbox" name="purchase"&gt;
                                Agree to purchase?
                            &lt;/label&gt;
                            &lt;input type="submit" value="Submit"&gt;
                        &lt;/form&gt;
                tr
                    td img
                    td Inserts an image, as well as alternative text for screen readers or if a network error blocks the image.
                    td.code-cell.
                        &lt;img src="cat3.png" alt="A black cat."&gt;
                tr
                    td iframe
                    td.ignore.
                        Embeds another document within the current page. Iframes from the same domain
                        can be accessed by JavaScript. Many servers are configured to tell
                        browsers not to embed their pages in foreign websites, since iframes embedding login/payment
                        pages can be made invisible to trick the user into clicking an "Accept" button.
                    td.code-cell.
                        &lt;iframe src="index.html"&gt;&lt;/iframe&gt;
            p.emphasis Note: The radio buttons work by assigning CSS classes with JavaScript.
